<div class="container-fluid">
  <div class="jumbotron text-center mt-3">
    <h1>
      <span>MyApp</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span>Version</span> {{ version }}</p>
  </div>
</div>
