<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow">
    <a class="navbar-brand text-danger font-weight-bold" routerLink="/">MyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/boards" routerLinkActive="active">
          <i class="fas fa-columns"></i>
          <span>Boards</span>
        </a>
      </div>
    </div>
  </nav>
</header>
